.title {
  font-weight: var(--font-weight-medium);
  color: var(--font-color-default);
}

.h1 {
  font-size: 5rem;
  line-height: 1.167;
}

.h2 {
  font-size: 3.5rem;
  line-height: 1.2;
}

.h3 {
  font-size: 2rem;
  line-height: 1.167;
}

.h4 {
  font-size: 1.2rem;
  line-height: 1.6;
}
